<div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 card form">
    <h1>Add your new little bity here</h1>

    <%= simple_form_for @bit do |f| %>
        <%= f.input :pics %>
        <%= f.input :message %>
        <%= f.submit "Post!", class: 'my-btn' %>
    <% end %>
</div>